* {
    font-family: sans-serif;
  }
  
  .display-box {
    background-color: #9fa8fc;
    padding: 12px;
    margin: 0px;
    font-size: 24px;
    text-align: center;
  }
  
  .rounded-corners {
    border-radius: 6px;
  }
  
  #congestion-image {
    height: 300px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .inline {
    vertical-align: middle;
    display: inline;
  }
  
  .question-button {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 600px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .answer {
    display: none;
  }